<div class='top_menu'>
	<!-- 탑 메뉴 영역 S -->
	<div class="top_menu layout_width">
		<div class="menu_wrap">
			<div class="inner">
				<div class="team_emblem">
					<!-- ?php
						$data = [
						'https://www.premierleague.com/',
						'https://www.arsenal.com/',
						'https://www.avfc.co.uk/',
						'https://www.brightonandhovealbion.com/',
						'https://www.burnleyfootballclub.com/',
						'https://www.chelseafc.com/en',
						'https://www.cpfc.co.uk/',
						'https://www.evertonfc.com/',
						'https://www.fulhamfc.com/',
						'https://www.leedsunited.com/',
						'https://www.lcfc.com/',
						'https://www.liverpoolfc.com/',
						'https://www.mancity.com/',
						'https://www.manutd.com/en',
						'https://www.nufc.co.uk/',
						'https://www.sufc.co.uk/',
						'https://www.southamptonfc.com/',
						'https://www.tottenhamhotspur.com/',
						'https://www.wba.co.uk/',
						'https://www.whufc.com/',
						'https://www.wolves.co.uk/',
						];
							
						foreach($data as $k => $v){
							if($k < 10){
								$k = "0" . $k;
							}
							$path = siteUrl("assets/front/images/emblem0");
							echo "
							<a href=".$v." target='_blank'>
								<img src='$path".$k.".png'>
							</a>";
						}
					?>
				</div>
				-->
				<!-- 메인 메뉴 영역 S -->
				<nav>
					<div class="gnb">
						<div class="gnb_wrap">
							<ul class='nav_menu'>
								<li>
									<a href="">홈</a>
								</li>
								<span class="bar">|</span>
								<li>
									<a href="">공지사항</a>
								</li>
								<span class="bar">|</span>
								<li>
									<a href="">뉴스 / 정보</a>
								</li>
								<span class="bar">|</span>
								<li>
									<a href="">커뮤니티</a>
								</li>
								<span class="bar">|</span>
								<li>
									<a href="">중고 장터</a>
								</li>
								<span class="bar">|</span>
								<li>
									<a href="">운영 / 건의</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<!-- 메인 메뉴 영역 E -->
						
			</div>
		</div>
	</div>
	<!-- 탑 메뉴 영역 E -->
</div>