<div class='top_menu'>
	<!-- 탑 메뉴 영역 S -->
	<div class="top_menu layout_width">
		<div class="menu_wrap">
			<div class="inner">
				<div class="team_emblem">
					<a href="https://www.premierleague.com/" target="_blank">
						<img src="/../img/emblem/emblem000.png">
					</a>
					<a href="https://www.arsenal.com/"  target="_blank">
						<img src="/../img/emblem/emblem001.png">
					</a>
					<a href="https://www.avfc.co.uk/"  target="_blank">
						<img src="/../img/emblem/emblem002.png">
					</a>
					<a href="https://www.brightonandhovealbion.com/"  target="_blank">
						<img src="/../img/emblem/emblem003.png">
					</a>
					<a href="https://www.burnleyfootballclub.com/"  target="_blank">
						<img src="/../img/emblem/emblem004.png">
					</a>
					<a href="https://www.chelseafc.com/en"  target="_blank">
						<img src="/../img/emblem/emblem005.png">
					</a>
					<a href="https://www.cpfc.co.uk/"  target="_blank">
						<img src="/../img/emblem/emblem006.png">
					</a>
					<a href="https://www.evertonfc.com/"  target="_blank">
						<img src="/../img/emblem/emblem007.png">
					</a>
					<a href="https://www.fulhamfc.com/"  target="_blank">
						<img src="/../img/emblem/emblem008.png">
					</a>
					<a href="https://www.leedsunited.com/"  target="_blank">
						<img src="/../img/emblem/emblem009.png">
					</a>
					<a href="https://www.lcfc.com/"  target="_blank">
						<img src="/../img/emblem/emblem010.png">
					</a>
					<a href="https://www.liverpoolfc.com/"  target="_blank">
						<img src="/../img/emblem/emblem011.png">
					</a>
					<a href="https://www.mancity.com/"  target="_blank">
						<img src="/../img/emblem/emblem012.png">
					</a>
					<a href="https://www.manutd.com/en"  target="_blank">
						<img src="/../img/emblem/emblem013.png">
					</a>
					<a href="https://www.nufc.co.uk/"  target="_blank">
						<img src="/../img/emblem/emblem014.png">
					</a>
					<a href="https://www.sufc.co.uk/"  target="_blank">
						<img src="/../img/emblem/emblem015.png">
					</a>
					<a href="https://www.southamptonfc.com/"  target="_blank">
						<img src="/../img/emblem/emblem016.png">
					</a>
					<a href="https://www.tottenhamhotspur.com/"  target="_blank">
						<img src="/../img/emblem/emblem017.png">
					</a>
					<a href="https://www.wba.co.uk/"  target="_blank">
						<img src="/../img/emblem/emblem018.png">
					</a>
					<a href="https://www.whufc.com/"  target="_blank">
						<img src="/../img/emblem/emblem019.png">
					</a>
					<a href="https://www.wolves.co.uk/"  target="_blank">
						<img src="/../img/emblem/emblem020.png">
					</a>
				</div>
				
				<!-- 메인 메뉴 영역 S -->
				<nav>
					<div class="gnb">
						<div class="gnb_wrap">
							<ul class='nav_menu'>
								<li>
									<a href="/">홈</a>
								</li>
								<span class="bar">|</span>
								<li>
									<a href="">공지사항</a>
								</li>
								<span class="bar">|</span>
								<li>
									<a href="">뉴스 / 정보</a>
								</li>
								<span class="bar">|</span>
								<li>
									<a href="">커뮤니티</a>
								</li>
								<span class="bar">|</span>
								<li>
									<a href="">중고 장터</a>
								</li>
								<span class="bar">|</span>
								<li>
									<a href="">운영 / 건의</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<!-- 메인 메뉴 영역 E -->
						
			</div>
		</div>
	</div>
	<!-- 탑 메뉴 영역 E -->
</div>
<!-- aside 메뉴 영역 S -->
		<aside>
			<div class='aside_menu'>
				<div>
					<a href='/'>홈으로</a>
				</div>
			<!-- 관리자-->
				<div>
					<a href=''>관리자</a>
				</div>
			<!-- 로그인 -->
				<div>
					<a href=''>마이페이지</a>
				</div>
				<div>
					<a href='member/logout'>로그아웃</a>
				</div>
			<!-- 비로그인 -->
				<div>
					<a href='/member/join'>회원가입</a>
				</div>
				<div>
					<a href='/member/login'>로그인</a>
				</div>
			</div>
		</aside>
		<!-- aside 메뉴 영역 E -->